.link,.button{ 
    height: 20px;
    width: 150px;
    background-color:#00a5ec;
    color: rgb(216, 214, 214);
    border: 2px solid black;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
.button:hover{
background-color: #00a5ec;
color: rgb(13, 13, 171);
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.third,.thirds{
    width: 200px;
    height: 100px;
    margin: 10px;
    background-color: blueviolet;
    border: 3px solid turquoise;

}
.thirds:hover{
    width: 400px;
    transition: ease-in-out;
    transition-duration: 3s;

}
.four{
    width: 200px;
    height: 200px;
    background-color: tomato;
    border-radius: 100px;
}
.fifth{
    font-size: 20px;
    color: rgb(27, 79, 79);
    background-color: aquamarine;
}
@media screen and (min-width:600px) {
    .fifth{
        font-size: 100px;
        color: rgb(27, 79, 79);
        background-color: aquamarine;
    }
    
}





























.ani{
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: 5px solid greenyellow;
    text-align: center;
    position: relative;
    animation: saran 4s ease-in 1s infinite normal ;
    
}
@keyframes saran {
    from{
        position: absolute;
    left: 0px;

    }
    to{
        position: absolute;
        left: 500px;
       
    }
    
}